@charset "utf-8";

@font-face {
    font-family: Avengeance;
    src: url(../fonts/AVENGEANCE.ttf);
}

@font-face {
    font-family: Xolonium;
    src: url(../fonts/Xolonium-Regular.ttf)
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    background-image: url(../images/yinyang.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0%;
    background-color: rgba(0, 0, 0, 1);
}

/*main section div {*/
    /*max-width: 1170px;*/
    /*margin: 0 auto;*/
/*}*/

/* ALL CSS below is broken down by their respective routes outside the NAV area */
section[id="about"] {
    /*padding-top: 10%;*/
    /*padding-bottom: 10%;*/
    /*margin: 10% 0;*/
    /*background-color: rgba(0, 0, 0, .6);*/
    /*color: black;*/
    /*font-size: 1.3em;*/
}

/*section[id="about"] .well {*/
    /*background-color: rgba(255, 255, 255, .6);*/
    /*color: black;*/
/*}*/

section[id="portfolio"], section[id="hobbies"] {
    /*padding-top: 1%;*/
    /*background-color: rgba(255, 255, 255, .6);*/
    /*color: black;*/
}

section[id="yoga"] {
    /*color: rgba(255, 255, 255, .85)*/
}

section[id="portfolio"] img {
    /*margin: 8px auto;*/
    /*padding: 0 12px;*/
    /*min-height: 220px;*/
}

section[id="portfolio"] .caption, section[id="yoga"] .caption, section[id="hobbies"] .caption {
    /*font-family: Xolonium;*/
    /*text-align: center;*/
}

section[id="yoga"] img, section[id="hobbies"] img {
    /*margin: 8px auto;*/
    /*padding: 0 12px;*/
    /*min-height: 260px;*/
}

section[id="contact"] {
    /*background-color: rgba(0, 0, 0, .6);*/
    /*color: white;*/
}

section[id="followMe"] {
    /*padding-top: 1%;*/
    /*background-color: rgba(255, 255, 255, .6);*/
    /*color: black;*/
}

section[id="followMe"] i {
    /*font-size: 3em;*/
}

section[id="followMe"] div {
    /*text-align: center;*/
}

footer {
    /*background-color: rgba(0, 0, 0, .6);*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 10px 0px;*/
}
