@charset "utf-8";

@font-face {
    font-family: Avengeance;
    src: url(../fonts/AVENGEANCE.ttf);
}

@font-face {
    font-family: Xolonium;
    src: url(../fonts/Xolonium-Regular.ttf)
}

h1, h2, nav {
    font-family: Avengeance;
    margin: 0;
}

body {
    font-family: Xolonium;
    margin: 0;
    background-color: rgba(128, 128, 128, 1);
    padding-top: 0px;
    padding-bottom: 100px
}

nav .dropdown-menu {
    font-family: Xolonium;
}

nav .container div {
    padding-bottom: 10px;
}

main {
    position: relative;
}

main
section {
    margin: 10% 0 0;
    padding-bottom: 1%;
}

main section div {
    max-width: 1170px;
    margin: 0 auto;
}

h1 {
    color: red;
    text-align: center;
    margin: 2% 0;
}

.navbar-default .navbar-nav .dropdown .listItemCustom {
    margin: 0;
    display: inline-block;
}

/* CSS from TWBS Color Site + Custom Modifications */
.navbar-default {
    background-color: rgba(255, 0, 0, .6);
    border-color: #ffff00;
    font-size: 1.1em;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    background-image: url(../images/web_design.png);
    background-repeat: no-repeat;
    background-size: auto 1.6em;
    padding-left: 56px;
    padding-top: 24px;
    background-position: 10%;
    font-size: 1.3em;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: rgba(255, 0, 0, .6);
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: rgba(255, 255, 0, .6);
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: rgba(255, 255, 0, .6);
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: rgba(255, 215, 0, .8);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: rgba(255, 255, 0, .6);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: rgba(255, 255, 0, .6);
}

.navbar-default .navbar-toggle {
    border-color: rgba(255, 255, 0, .6);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 255, 0, .6);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, .6);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: rgba(255, 255, 255, .6);
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-default .navbar-brand {
        padding-left: 66px;
        padding-top: 24px;
        font-size: 1.6em;
    }

    /* .navbar-default .navbar-nav .dropdown:hover > .dropdown-menu {
        display: block;
    } */

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #ffff00;
    }
}

@media (min-width: 768px) {
    .navbar-custom {
        font-size: 1.6em;
        padding: 24px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

    .navbar-custom .navbar-brand {
        background-size: auto 1.6em;
        padding-left: 96px;
        padding-top: 26px;
        background-position: 10%;
        font-size: 1.6em;
    }

    .navbar-custom.affix {
        background-color: rgba(255, 0, 0, .3);
        padding: 0;
        font-size: 1.1em;
    }

    .navbar-custom.affix .navbar-brand {
        font-size: 1.6em;
        padding-left: 66px;
        padding-top: 24px;
    }
}

#bannerWeb {
}

#mainWeb {
    background-image: url(../images/yinyang.png);
    opacity: .9;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0%;
    background-color: rgba(0, 0, 0, 1);
}

/* ALL CSS below is broken down by their respective sections outside the NAV area */
section[id="about"] {
    background-color: rgba(0, 0, 0, .6);
    color: black;
    font-size: 1.3em;
}

section[id="about"] .well {
    background-color: rgba(255, 255, 255, .6);
    color: black;
}

section[id="portfolio"], section[id="hobbies"] {
    background-color: rgba(255, 255, 255, .6);
    color: black;
}

section[id="yoga"] {
    color: rgba(255, 255, 255, .85)
}

section[id="portfolio"] img {
    margin: 8px auto;
    padding: 0 12px;
    min-height: 220px;
}

section[id="portfolio"] .caption, section[id="yoga"] .caption, section[id="hobbies"] .caption {
    font-family: Xolonium;
    text-align: center;
}

section[id="yoga"] img, section[id="hobbies"] img {
    margin: 8px auto;
    padding: 0 12px;
    min-height: 260px;
}

.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}

.carousel-showmanymoveone .carousel-control.left {
    margin-left: 0;
}

.carousel-showmanymoveone .carousel-control.right {
    margin-right: 0;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2
{
    display: none;

}

.carousel .item .col-xs-12 {
    padding: 0;
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .carousel .item .col-xs-12:nth-last-child(-n+2) {
        display: none;
    }
}

@media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -50%;
    }

    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 50%;
    }

    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

@media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -16.6%;
    }

    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 16.6%;
    }

    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
        display: block;
    }
    .carousel-showmanymoveone .mainItem {
        width: 50%;
    }

    .carousel-showmanymoveone .cloneditem-1,
    .carousel-showmanymoveone .cloneditem-2,
    .carousel-showmanymoveone .cloneditem-3,
    .carousel-showmanymoveone .cloneditem-4,
    .carousel-showmanymoveone .cloneditem-5 {
        width: 25%;
    }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(16.6%, 0, 0);
        transform: translate3d(16.6%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-16.6%, 0, 0);
        transform: translate3d(-16.6%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

/*Bootstrap 4 Carousel*/
/*@media (min-width: 768px) {*/

/*!* show 3 items *!*/
/*.carousel-inner .active,*/
/*.carousel-inner .active + .carousel-item,*/
/*.carousel-inner .active + .carousel-item + .carousel-item,*/
/*.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {*/
/*display: block;*/
/*}*/

/*.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),*/
/*.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,*/
/*.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,*/
/*.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {*/
/*transition: none;*/
/*}*/

/*.carousel-inner .carousel-item-next,*/
/*.carousel-inner .carousel-item-prev {*/
/*position: relative;*/
/*transform: translate3d(0, 0, 0);*/
/*}*/

/*.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {*/
/*position: absolute;*/
/*top: 0;*/
/*right: -25%;*/
/*z-index: -1;*/
/*display: block;*/
/*visibility: visible;*/
/*}*/

/*!* left or forward direction *!*/
/*.active.carousel-item-left + .carousel-item-next.carousel-item-left,*/
/*.carousel-item-next.carousel-item-left + .carousel-item,*/
/*.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,*/
/*.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,*/
/*.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {*/
/*position: relative;*/
/*transform: translate3d(-100%, 0, 0);*/
/*visibility: visible;*/
/*}*/

/*!* farthest right hidden item must be abso position for animations *!*/
/*.carousel-inner .carousel-item-prev.carousel-item-right {*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*z-index: -1;*/
/*display: block;*/
/*visibility: visible;*/
/*}*/

/*!* right or prev direction *!*/
/*.active.carousel-item-right + .carousel-item-prev.carousel-item-right,*/
/*.carousel-item-prev.carousel-item-right + .carousel-item,*/
/*.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,*/
/*.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,*/
/*.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {*/
/*position: relative;*/
/*transform: translate3d(100%, 0, 0);*/
/*visibility: visible;*/
/*display: block;*/
/*visibility: visible;*/
/*}*/

/*}*/

section[id="contact"] {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

form .formButton input {
    height: 48px;
    width: 128px;
    background-color: rgba(255, 255, 0, .75);
    color: black;
    font-family: Avengeance;
    font-weight: 500;
    font-size: 1.3em;
    margin: 1% 5%;
}

form fieldset {
    margin: 0 0 2% 0;
}

form fieldset legend {
    color: white;
}

form fieldset input {
    height: 32px;
    display: block;
    width: 95%;
    background-color: rgba(255, 255, 255, .8);
    color: black;
}

form fieldset textarea {
    display: block;
    margin: 0 5%;
    width: 95%;
    background-color: rgba(255, 255, 255, .8);
    color: black;
}

#aSubmit {
    display: none;
}

/*CSS to modify default bootstrap styling*/
.btn-primary {
    color: black;
    background-color: rgba(255, 215, 0, .8);
    border-color: rgb(255, 215, 0);
}

.btn-primary:focus,
.btn-primary.focus {
    color: rgb(255, 215, 0);;
    background-color: rgba(255, 0, 0, .8);
    border-color: rgb(255, 215, 0);
    font-weight: bold;
}

.btn-primary:hover {
    color: rgb(255, 215, 0);;
    background-color: rgba(255, 0, 0, .8);
    border-color: rgb(255, 215, 0);
    font-weight: bold;
}

.btn-danger {
    color: white;
    background-color: rgba(255, 0, 0, .8);
    border-color: rgb(255, 0, 0);
}

.btn-danger:focus,
.btn-danger.focus {
    color: rgb(255, 0, 0);
    background-color: rgba(255, 215, 0, .8);
    border-color: rgb(255, 0, 0);
    font-weight: bold;
}

.btn-danger:hover {
    color: rgb(255, 0, 0);
    background-color: rgba(255, 215, 0, .8);
    border-color: rgb(255, 0, 0);
    font-weight: bold;
}

section[id="followMe"] {
    background-color: rgba(255, 255, 255, .6);
    color: black;
}

section[id="followMe"] .well {
    background-color: rgba(0, 0, 0, .6);
    color: white;
}

section[id="followMe"] i {
    font-size: 3em;
}

section[id="followMe"] div {
    text-align: center;
}

#followMeBox {
    display: none;
}

footer {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    text-align: center;
    padding: 10px 0px;
}

/* Code for Modal Styling */

section.modalContainer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 1000ms ease-in;
    -moz-transition: opacity 1000ms ease-in;
    transition: opacity 1000ms ease-in;
    pointer-events: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section.modalContainer:target {
    opacity: 1;
    pointer-events: auto;
}

section.modalContainer > div {
    /*max-width: 100%;*/
    width: 95%;
    position: relative;
    margin: 128px auto 0;
    background: rgba(235, 235, 235, 1);
    border-radius: 10px;
    padding: 18px;
}

section.modalContainer h2 {
    color: red;
    margin: 0 0 16px 0;
}

div.iframeBorder {
    padding: 12px;
    padding-bottom: 8px;
    width: 100%;
    /*min-width: 1050px;*/
    /*height: 1080px;*/
    background: white;
    overflow-x: scroll;
}

div.iframeBorder iframe {
    width: 100%;
    min-width: 1050px;
}

#modalIframe {
    min-height: 480px;
}

.close {
    background: rgba(255, 0, 0, 1);
    color: white;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -12px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px gold;
    -webkit-box-shadow: 1px 1px 3px gold;
    box-shadow: 1px 1px 3px gold;
}

.close:hover {
    background: purple;
}

/* #mainNav {
    position: sticky;
    top: 0;
} */
